DataFrame
A DataFrame is a table. It contains an array of individual entries, each of which has a certain value. Each entry corresponds to a row (or record) and a column.

In [4]:
import pandas as pd
pd.DataFrame({'Krishna':[18,90],'Karan':[20,95]},index=['Age','Marks'])

       Krishna  Karan
Age         18     20
Marks       90     95

In [5]:
pd.DataFrame({'Abhu':['Apple','Soyschunks'],'Shibu':['Mango','Cabbage']},index=['Fruits','Veggies'])

               Abhu    Shibu
Fruits        Apple    Mango
Veggies  Soyschunks  Cabbage

Series
A Series, by contrast, is a sequence of data values. If a DataFrame is a table, a Series is a list. And in fact you can create one with nothing more than a list

In [6]:
pd.Series([1,2,3,4,5,6])

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [7]:
pd.Series([90,95,99],index=['Krishna','Karan','Varun'],name='Marks')

Krishna    90
Karan      95
Varun      99
Name: Marks, dtype: int64