DataFrame
A DataFrame is a table. It contains an array of individual entries, each of which has a certain value. Each entry corresponds to a row (or record) and a column.

In [2]:
import pandas as pd
pd.DataFrame({'Krishna':[18,90],'Karan':[20,95]},index=['Age','Marks'])

       Krishna  Karan
Age         18     20
Marks       90     95

In [5]:
pd.DataFrame({'Abhu':['Apple','Soyschunks'],'Shibu':['Mango','Cabbage']},index=['Fruits','Veggies'])

               Abhu    Shibu
Fruits        Apple    Mango
Veggies  Soyschunks  Cabbage

Series
A Series, by contrast, is a sequence of data values. If a DataFrame is a table, a Series is a list. And in fact you can create one with nothing more than a list

In [6]:
pd.Series([1,2,3,4,5,6])

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [7]:
pd.Series([90,95,99],index=['Krishna','Karan','Varun'],name='Marks')

Krishna    90
Karan      95
Varun      99
Name: Marks, dtype: int64

Reading data files
Being able to create a DataFrame or Series by hand is handy. But, most of the time, we won't actually be creating our own data by hand. Instead, we'll be working with data that already exists.

Data can be stored in any of a number of different forms and formats. By far the most basic of these is the humble CSV file

Let's now set aside our toy datasets and see what a real dataset looks like when we read it into a DataFrame. We'll use the pd.read_csv() function to read the data into a DataFrame

In [ ]:
wine_reviews = pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv") # Just used random csv not correct

wine_reviews.shape #to check shape

wine_reviews.head() # ot check first five elements 

wine_reviews = pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv", index_col=0) # index col used to remove first unwanted indexing row
# use to_csv method to convert datafram to csv file